.Certificate {
    padding: 6rem 0rem;
    width: 100%;
    background-color: white;
}

.Certificate-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Certificate-main h4 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #AF1740;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.Certificate-main h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.25em;
}

.Certificate-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.Certificate-card img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 1200px) {
    .Certificate-main {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 990px) {}

@media only screen and (max-width: 680px) {}