.Steps {
    padding: 3rem 0rem;
    width: 100%;
    background-color: white;
}

.Steps-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.Steps-main h4 {
    font-size: 15px;
    font-weight: 500;
    color: #AF1740;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.Steps-main h2 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.25em;
}

.Steps-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin-top: 3rem;
}

@media (min-width: 1200px) {
    .Steps-main {
        max-width: 1140px;
    }
}