.Ranking {
    padding: 3rem 0rem;
    width: 100%;
    background-color: white;
}

.Ranking-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.Ranking-box h4 {
    font-size: 15px;
    font-weight: 500;
    color: #AF1740;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.Ranking-box h2 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.25em;
    margin-bottom: 3rem;
}

.Ranking-card img{
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

@media (min-width: 1200px) {
    .Ranking-main {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 680px) {}